NEXT_PUBLIC_SANITY_PROJECT_ID=nbm85yy3
NEXT_PUBLIC_SANITY_DATASET=production

# Set this to the public Render origin when deploying there.
NEXT_PUBLIC_SITE_URL=https://revaldy-arrahman-data-portfolio.revaldyarrhmn.chatgpt.site
